body{
 background: gray;
 color: black;
}

#root{
    background: lightblue;
}

@media (max-width: 600px) {
    Header nav ul{
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
}

Header{
    text-align: center;
    display: center;
}

Header nav ul{
    display: flex;
    justify-content: center;
}

Header nav ul{
    font-size: clamp(12px, 4vw, 16px);
    color: rgb(12, 10, 10);
    display: flex;
    justify-content: center;
    Gap: clamp(5px, 9vw, 500px);
    font-stretch: expanded;
}

Footer{
    text-align: center;
    display: flex;
    justify-content: center;
}

.food-list{
  text-align: center;
  justify-content: center;
  list-style-type: none;
  }